/* You can add global styles to this file, and also import other style files */

@use "primeicons/primeicons" as *;
@use "tailwindcss" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: Inter;
}


.active-link {
  color: #7848f4; /* Purple color for active link */
  font-weight: bold; /* Bold text for active link */
  border-bottom: 2px solid #7848f4; /* Underline effect */
}
